#form {
  max-width: 400px;
  margin: 0 auto;
}

.main {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  margin-left: 500px;
  margin-top: 200px;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox input[type="text"] {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}

.inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #666;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox input[type="text"]:focus + span,
.inputBox input[type="text"]:valid + span {
  transform: translateY(-20px);
  font-size: 12px;
  color: white;
}

.btn5 {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #2479b5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.btn5:hover {
  background: #2479b5;
}
