/* .container1 {
  display: flex;
  margin-left: 30px;
}
body {
  background: linear-gradient(#f9f9f9, rgb(125, 123, 123));
  font-family: "Montserrat", sans-serif;
} */

/* .home { */
/* display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 50px;
  list-style: none;
  font-size: larger;
  margin-top: 40px; */
/* margin-left: 300px; */
/* } */
/* .home a {
  color: black;
}

.home :hover {
  border-bottom: 2px solid rgb(79, 63, 3);
} */
/* .container img {
  margin-left: 300px;
  margin-top: 60px;
}
.container p {
  width: 700px;
  font-size: 25px;
  margin-left: 300px;
} */

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  background: white;
  font-family: "QuickSand", sans-serif;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #03c988;
  color: #ebebd3;
  position: relative;
  padding: 1em 0;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
}

.logo span {
  font-weight: 400;
}

.main-nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #03c988;
  height: 0;
  overflow: hidden;
}

.main-nav-open {
  height: auto;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li {
  border-bottom: 1px solid #575766;
}

.main-nav li:last-child {
  border-bottom: none;
}

.main-nav a {
  color: white;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:focus {
  background: #e4b363;
  color: #464655;
}

.nav-icon {
  display: inline-block;
  font-size: 1.3em;
  margin-right: 0.5em;
  text-align: center;
  width: 1.1em;
  color: rgba(255, 255, 255, 0.45);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .main-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }

  .main-nav li {
    display: inline-block;
    border: none;
  }

  .main-nav a {
    padding: 0;
    margin-left: 2em;
  }

  .main-nav a:hover,
  .main-nav a:focus {
    background: transparent;
  }

  .nav-icon {
    display: none;
  }
}

.nav_dropdown {
  position: relative;
  display: inline-block;
  border: none;
}
.nav_dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav_dropdown-content a {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  border: none;
  display: block;
  transition: 0.6s;
}
.nav_dropdown-content a:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
  transform: scale(1.1);
}
.nav_dropdown:hover .nav_dropdown-content {
  display: block;
}
.nav_dropbtn,
.nav {
  font-weight: bold;
  font-size: 1.3rem;
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  transition: 0.4s;
}
.nav:hover,
.nav_dropbtn:hover {
  transform: scale(1);
  border-bottom: 5px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}
.rap {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #03c988;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(145, 29, 29);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(86, 86, 86);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: whitesmoke;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: aliceblue;
  background-color: rgb(74, 71, 71);
}
a {
  text-decoration: none;
}
